body {
	color: #555;
	font-family: 'Titillium Web', Helvetica, Arial;
	font-weight: 400;
}
a {
    color: $mainColor;
    text-decoration: none;
    background-color: transparent;
}

button {
	height: 38px;
	font-weight: 600;
	color: $mainColor;
    //border-top: 1px solid lighten(#408be4, 5%);
}

footer {
	text-align: center;
}

#wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-itmes: stretch;
	flex-wrap: nowrap;
	height: 100%;

	> div {
		&:first-of-type {

		}

		&:nth-child(2) {
			flex: 1 1 auto;
			overflow-y: auto;
    		min-height: 0px;
		}
	}
}

.view-animate-container {
	overflow-x: hidden;
}
.view-animate {
	//position: absolute;
	width: 100%;
}
.view-animate.ng-enter{
  transform: translate3d(100%, 0, 0);
  transition: all 0.3s linear;
}
.view-animate.ng-leave {
  opacity: 0;
  transform: translate3d(0, 0, 0);
  transition: all 0.3s linear;
}
.view-animate.ng-enter-active {
  transform: translate3d(0, 0, 0);
  transition: all 0.3s linear;
}
.view-animate.ng-leave.ng-leave-active {
	transform: translate3d(-100%, 0, 0);
}